{%extends "dashboard/dashboard_main_panel-card.html" %}
{% load django_bootstrap5 %}
{%block dashboard_name %}Community Admins Roster {%endblock %}

{%block dashboard_content %}
<p class="text">
This is the roster of all the active Admins registered in {{community.name}}: You can use this interface to grant or revoke admin status.
<br/><em>Please note:</em> Admin status is granted at a community and profile level.
</p><hr/>
<div class="container">
<div class="row">
<div class="col-9">
    <h4>Active Admins:</h4>
</div>
<div class="col text-right">
    <button class="btn btn-outline-primary" onclick="admin.add();"><i class="fa-solid fa-user-plus"></i>&#160;Add New Admin</button>
</div>
</div>
</div>
<br/>

<table class="table table-striped table-hover align-middle text-center">
  <thead>
    <tr>
      <th scope="col">UUID:</th>
      <th scope="col">Profile:</th>
      <th scope="col">Created:</th>
      <th scope="col">Revoke/Delete:</th>
    </tr>
  </thead>
  <tbody>
  {% for member in admins %}
    <tr>
      <th scope="row">{{member.profile.uuid}}</th>
      <td>{{member.profile.name}}</td>
      <td>{{member.created}}</td>
      <td>
      {% if member.profile != profile %}
      <a href="#" class="btn btn-outline-danger" onclick="admin.del('{{member.uuid}}'); return false;"><i class="fa-solid fa-skull-crossbones"></i> Revoke Status</a>
      {% else %}
      Cannot self-revoke!
      {% endif %}
      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{%endblock %}

{%block post-card %}
<div id="newAdmin_modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-plus"></i>Select Profile to Grant Admin Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="admin_form" method="POST" target="#" onsubmit="admin.create(); return false;"/>
      <div class="modal-body">

        {% bootstrap_form admin_form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Confirm"></input>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="delAdmin_modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-plus"></i>Confirm Revocation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        Please confirm revocation of admin rights for given profile to proceed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <input class="btn btn-outline-danger" onclick="admin._del();" value="Confirm"></input>

      </div>
    </div>
  </div>
</div>
{%include "dashboard_plugins/plugin-selectize.html" %}
<script src="/static/community/js/admins.js">
{% endblock %}