<div class="card">
    <div class="card-header">
    <h4><i class="fa-solid fa-file-pen"></i>&#160;Code Editor:</h4>
    </div>
    <div class="card-body">
    <textarea class="prism-live line-numbers language-python fill" aria-label="Script Body" name="code_body" id="code_body">
# PLYScript: Python3 Syntax! (This IS python3!)
''' Comments: '''
# The script environment contains a series of global objects already set up and available:
# Profile / character running the script:
# 'profile':
print(f"The current profile name is: {profile.name}, UUID: {profile.uuid}")
# Community/RP group the script is running inside:
# 'community':
print(f"The current community name is: {community.name}, UUID: {community.uuid}")
# The objects work everywhere!
print(community.hash)
    </textarea>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>
