<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">
<head>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{base_url}}{{gif_name}}" />
    <meta name="twitter:site" content="{{site_name}}">
    <meta name="twitter:creator" content="@{{author}}">
    <meta name="twitter:title" content="{{title}}">
    <link rel="icon" type="image/x-icon" href="{{base_url}}{{gif_name}}">
    <!-- Metadata for Open Graph --> 
    <meta id="og-title" property="og:title" content="{{title}}" />
    <meta id="og-type" property="og:type" content="{{og_type}}" />
    <meta id="og-url" property="og:url" content="https://{{vhost}}/g/@{{profile_id}}/{{collection_id}}/{{item_id}}" />
    <meta id="og-image" property="og:image" content="{{base_url}}{{gif_name}}" />
    <meta id="og-author" property="og:article:author" content="{{author}}" />
    <meta id="og-published_time" property="og:article:published_time" content="{{created}}" />
    <meta id="og-site_name" property="og:site_name" content="{{site_name}}" />    
    <meta id="og-description" property="og:description" content="{{descr}}" />
    <title>{{title}} by {{author}}</title>
</head>
<body>
<p><a href="{% block meta-redirect-body-url  %}https://{{vhost}}/gallery/@{{profile_id}}/#card-{{collection_id}}-{{item_id}}{% endblock %}">Redirect...</a></p>
<script type="text/javascript">
location.href="{% block meta-redirect-body-head  %}https://{{vhost}}/gallery/@{{profile_id}}/#card-{{collection_id}}-{{item_id}}{% endblock %}";
</script>
</body>
</html>
