<li class="mb-1 sidebar-menu-container-li">
        <button class="btn btn-toggle align-items-center rounded collapsed sidebar-main-button" data-bs-toggle="collapse" data-bs-target="#admin-collapse" aria-expanded="false" data-mname="" onclick="dc_handleMainLink(event);">
          <i class="fa-solid fa-screwdriver-wrench fa-2x" aria-hidden="true"></i> Almanac Administrator
        </button>
        <div class="collapse" id="admin-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small sidebar-toggle-ul sidebar-menu">
            
            <li><a href="/almanac/user/page/create" data-wt="Create Page" class="link-dark rounded sidebar-submenu-link" data-onclick="">
            
               <i class="fa-solid fa-file-lines"></i>
            
            Create Page
            </a></li>
            

            
            <!--<li><a href="/almanac/user/menu/create" data-wt="Create Menu Category" class="link-dark rounded sidebar-submenu-link" data-onclick="">
            
              <i class="fa-solid fa-folder-plus"></i>
            
            Create Menu Category
            </a></li>
            
            <li><a href="/almanac/user/menu/add" data-wt="Add Page to Menu" class="link-dark rounded sidebar-submenu-link" data-onclick="">
            
               <i class="fa-solid fa-square-arrow-up-right"></i>
            
            Add Page to Menu
            </a></li>-->
            
            <li><a href="/almanac/user/menu/editor" data-wt="Menu Editor" class="link-dark rounded sidebar-submenu-link" data-onclick="">
            <i class="fa-solid fa-bars-staggered"></i>
            
            Menu Editor
            </a></li>
            
        </ul>
        
        
    </div>
</li>


<li class="mb-1 sidebar-menu-container-li">
        <button class="btn btn-toggle align-items-center rounded collapsed sidebar-main-button" data-bs-toggle="collapse" data-bs-target="#community-collapse" aria-expanded="false" data-mname="" onclick="dc_handleMainLink(event);">
          <i class="fa-solid fa-globe fa-2x" aria-hidden="true"></i> Community Administrator
        </button>
        <div class="collapse" id="community-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small sidebar-toggle-ul sidebar-menu">
            
            <li><a href="/forge/edit/community/cover" data-wt="Edit Community Details" class="link-dark rounded sidebar-submenu-link" data-onclick="">
            <i class="fa-solid fa-house-circle-check"></i>
            Edit Community Details
            </a></li>
            <li><a href="/forge/script/studio" data-wt="Script Studio" class="link-dark rounded sidebar-submenu-link" data-onclick="">
            <i class="fa-solid fa-scroll"></i>
            Script Studio
            </a></li>
        
            
        </ul>
        
        
    </div>
</li>
