<li class="mb-1 sidebar-menu-container-li">
        <button class="btn btn-toggle align-items-center rounded collapsed sidebar-main-button" data-bs-toggle="collapse" data-bs-target="#-collapse" aria-expanded="false" data-mname="" onclick="dc_handleMainLink(event);" data-js="/static/js/gallery_core.js">
          <i class="fa-solid fa-screwdriver-wrench fa-2x" aria-hidden="true"></i> Almanac Administrator
        </button>
        <div class="collapse" id="-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small sidebar-toggle-ul sidebar-menu">
            
            <li><a href="#" data-trgt="gallery/list" data-wt="All Galleries" class="link-dark rounded sidebar-submenu-link" onclick="dc_handleLink(event,true);" data-onclick="gallery_list_init">
            
               <i class="fa-solid fa-file-lines"></i>
            
            Create Page
            </a></li>
            
            <li><a href="#" data-trgt="gallery/collections" data-wt="All Collections" class="link-dark rounded sidebar-submenu-link" onclick="dc_handleLink(event,true);" data-onclick="">
            
               <i class="fa-solid fa-pen-to-square"></i>
            
            Edit Page
            </a></li>
            
            <li><a href="#" data-trgt="gallery/manage" data-wt="Manage Galleries" class="link-dark rounded sidebar-submenu-link" onclick="dc_handleLink(event,true);" data-onclick="">
            
              <i class="fa-solid fa-folder-plus"></i>
            
            Create Menu Category
            </a></li>
            
            <li><a href="#" data-trgt="gallery/upload" data-wt="Upload Submission(s)" class="link-dark rounded sidebar-submenu-link" onclick="dc_handleLink(event,true);" data-onclick="">
            
               <i class="fa-solid fa-square-arrow-up-right"></i>
            
            Add Page to Menu
            </a></li>
            
            <li><a href="#" data-trgt="gallery/upload/lighttable/" data-wt="Submission Light Table" class="link-dark rounded sidebar-submenu-link" onclick="dc_handleLink(event,true);" data-onclick="">
            <i class="fa-solid fa-bars-staggered"></i>
            
            Menu Editor
            </a></li>
            
        </ul>
    </div>
</li>
