<div id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar offcanvas" aria-labelledby="sidebar" data-bs-scroll="false" data-bs-backdrop="true">
    <div class="offcanvas-header">
    <h4 class="offcanvas-title">Almanac: Main Menu</h4>
    </div>
      <div class="offcanvas-body">
        <ul class="nav flex-column">

         <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" href="/almanac/#">
          <i class="fas fa-home fa-2x"></i> Index / Home
        </button>
        {%if enable_admin %} 

        {%include "almanac_dashboard_admin.html" %}
        {% endif %}
          
         <li class="mb-1"><hr/></li>
          <li class="mb-1 sidebar-menu-container-li">
        <button class="btn btn-toggle align-items-center rounded collapsed sidebar-main-button" data-bs-toggle="collapse" data-bs-target="#alphabetically-collapse" >
          <i class="fa-solid fa-arrow-down-a-z"></i> All Pages, Alphabetically
        </button>
        <div class="collapse" id="alphabetically-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small sidebar-toggle-ul sidebar-menu">
            {% for page in all_pages %}
            <li><a href="/almanac/page/{{page.page_id}}"   class="link-dark rounded sidebar-submenu-link"  >
            {{page.title}}
            </a></li>
            {% endfor %}
        </ul>
    </div>
</li>

      </li>
      
      </ul>
      </div>
      <div class="offcanvas-footer position-absolute bottom-0 start-0 account-dash-widget">
      <hr/>
        <h6 class="text-muted"><span class="ply-brand_font">Ply</span> powered, (v) 2022.02.2000</h6>
      </div>
    </div>
