{% extends 'django_bootstrap5/bootstrap5.html' %}
{% block bootstrap5_title %}
Welccome to {{settings.hud_title}}!!
{% endblock %}
{% block bootstrap5_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawesome.com/52b95d724a.js" crossorigin="anonymous"></script>
<body class="d-flex h-100 text-center bg-dark">
<main class="w-100 text-center" style="padding-top: 2px; margin-top: 2px;">
    <div class="card" style="min-width: 28rem; margin-left: auto; margin-right: auto; max-width: 95%;">
    <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-hat-wizard"></i>&#160;Welcome to {{settings.hud_title}}!</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{settings.hud_intro}} </h6>
        <p class="card-text">
        An e-mail address is needed to register and create profiles for role-playing: You can have multiple characters per email address; but only one SL account linked to that email.
        <hr/>
        <strong>If you have an account</strong> created on our website - please <a href="/roleplaying/SLHUD/login/{{parcel}}/{{agent}}" class="card-link"><i class="fa-solid fa-arrow-right-to-bracket"></i>&#160;login</a>.
        <br/>
        <strong>If this is your first time joining us:</strong> Welcome! It's quick and only takes a minute - please <a href="/roleplaying/SLHUD/register/{{parcel}}/{{agent}}" class="card-link"><i class="fa-solid fa-user-plus"></i>&#160;register now</a>.
        </p>

    </div>
    </div>
</main>
</body>
{% endblock %}
