<table class="table table-striped table-hover align-middle text-center">
    <thead>
    <tr>
      <th scope="col">App:</th>
      <th scope="col">Class Name:</th>
      <th scope="col">Ordering:</th>
      <th scope="col">Active:</th>
      <th scope="col">Edit:</th>
      <th scope="col">Delete:</th>
    </tr>
  </thead>
  <tbody>
  {% for app in current_menus %}
  {% if mode == app.application_mode %}
    <tr>
      <th scope="row">{{app.module}}</th>
      <td>
        {{app.sidebar_class}}
      </td>
      <td>{{app.ordering}}</td>
      <td>{{app.active}}</td>
      <td><a href="#edit_menu_{{app.pk}}" onclick="community_dashboard.edit_menu('{{app.pk}}');"><i class="fa-solid fa-pen-to-square"></i>&#160;Edit</a></td>
      <td><a href="#edit_menu_{{app.pk}}" class="link-danger" onclick="community_dashboard.delete_menu('{{app.pk}}');"><i class="fa-solid fa-trash"></i>&#160;Del</a></td>
    </tr>
   {% endif %}
   {% endfor %}
  </tbody>
</table>