{%load short_date_fmt %}
<div class="row" id="msg-{{m.uuid}}" name="msg-{{m.uuid}}">
   <div class="col-1" style="max-width: 60px;">
    <img src="{{av_path}}/{{m.author.avatar}}" alt="{{m.author.name|slice:"0:2"}}" class="rounded-circle me-2 avatar" width="45" height="45"/>
   </div>
    <div class="col" style="padding-left: 5px;">
    <div class="row">
    <h6>
    <a href="/p/@{{profile.profile_id}}" target="_blank">{{m.author.name}}</a>
    <small class="text-muted"> at {% short_date_fmt m.created profile %}:</small>
    </h6>


    </div>
    <div class="row">
      {% if m.contents_text_parsed == None %}
        {{m.contents_text }}
      {% else %}
        {{m.contents_text_parsed|safe }}
      {% endif %}
    </div>
    </div>
</div>
<br/><br/>
