{% extends "ui_page_base.html" %}
{% load static %}
{% block headExtras %}
    <style>
    .icon-container {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  text-align: center;
  width: 85px;
  height: 85px;
}

.new-container {
  border: 1px dashed #cccccc;
}

.rw-app-icon-container {
  width: 105px;
  min-height: 105px;
  padding: 10px;
  cursor: pointer;
  line-height: 1em;
  display: inline-block;
}

.rw-app-icon-container:hover {
  border-radius: 10px;
  background: #f8f8f8;
}

.app-text {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
  color: #333;
  margin-top: -10px;
  margin-bottom: 2px;
  cursor: pointer;
}

    </style>
{% endblock %}
{% block body %}
                <div class="col-md-8 offset-md-2 col-sm-12 col-xs-12" style="margin-top: 12vh;">

                <div style="text-align: center; margin-bottom: 3vh;">
                    <img src="{% static "fdlogo.png" %}" style="width: 100px; height: auto; border-radius: 25px;">
                </div>
                </div>
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Select an Application</h4>
                <p>Logged in as: {{ request.user.username }} <a href="/connect/logout/">(Logout)</a></p>
                <div class="row">
                        {% for app in apps %}
                            <div class="col-md-2" style="text-align: center">
                            <a href="/app/redirect/{{ app.code }}/{% if app.staff_only == False %}true/{% endif %}">
                                <div class="rw-app-icon-container">
                                  <div class="icon-container" style="background: url('{{ app.image.url }}') no-repeat center center; background-size: contain"></div>
                                </div>
                                <p class="app-text">{{ app.title }}{% if app.staff_only %}<br><small class="label label-warning">Staff Application</small>{% endif %}</p>
                            </a>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}