{% extends "ui_base.html" %}
{% load static %}
{% block body %}
                            <h3>Unified Furrydelphia Login System</h3>

    {% if err %}
    <div class="alert alert-danger">
    {% if err == "cannot-reset-staff-oauth" %}
        This is a staff account and cannot be reset using this system. Please contact IT.
    {% endif %}
    {% if err == "reset-sent" %}
        If there is an account associated with this e-mail, we've sent it a password recovery e-mail.
    {% endif %}
    </div>
    {% endif %}

                        <form method="post">
                            {% csrf_token %}
                           <div class="form-group" style="text-align: left">
                                <label for="id_username">E-mail Address</label>
                                <input type="email" class="form-control" id="id_username" name="username" placeholder="rocky@furrydelphia.org" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </form>
{% endblock %}