{% extends "ui_base.html" %}
{% load static %}
{% block body %}
    <div style="text-align: left;">
                            <h3>Nice to meet you, welcome to UFLS. You Look New.</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group" style="text-align: left">
                                <label for="id_username">E-mail Address</label>
                                <input type="email" class="form-control" id="id_username" name="username" value="{{ eml }}" disabled readonly placeholder="E-mail Address" required>
                                <small><a href="/connect/logout/?from={{ connecting.app_name.code }}">Already have an account?</a></small>
                            </div>
                            <div class="form-group" style="text-align: left">
                                <label for="id_password">Password</label>
                                <input type="password" class="form-control" id="id_password" name="password" required>
                            </div>
                            <div class="form-group" style="text-align: left">
                                <label for="id_password">Confirm Password</label>
                                <input type="password" class="form-control" id="id_password" name="password" required>
                            </div>

                            <div class="form-group" style="text-align: left">
                                <label for="agreement">
                                    <input type="checkbox" name="agreement" id="agreement">
                                    <span class="text-muted">I agree to the <a href="#">terms and conditions</a>.</span>
                                    </label>
                                </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
    </div>
    </div>
    </div>
    <hr>
    <div class="card">
    <div class="card-body">
        <h4>What is UFLS?</h4>
        <p>UFLS is the Unified Furrydelphia Login System which allows Attendees and Staff to use the same login credentials across multiple Furrydelphia Applications and Services. With UFLS, you can manage your Convention Profile across years without needing to sign up over and over again.</p>

        <h4>Use UFLS to:</h4>
        <ul>
            <li>Register for Furrydelphia</li>
            <li>Manage your Submitted Panels and Events</li>
            <li>Manage and submit Applications for Dealers, Artists Alley, DJs, and More</li>
            <li>Manage your Dealers Den Profile</li>
        </ul>
{% endblock %}