{%extends "registrar/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{%block bootstrap5_content %}
<div class="container">
    <main>
        <div class="py-5 text-center">
        <h2>Furrydelphia 2023</h2>
        <p><strong>On-Site Registration</strong></p>
        <hr/>
         <p class="lead">Please review the registrant details below before payment. We cannot execute any changes after payment!</p>
         <div class="row g-5">

      <div class="col-md-10 col-lg-12">
        <form class="needs-validation" id="attendee_form" onsubmit="registrar.start1(); return false;">
        <h4 class="mb-3">Attendees:</h4>
         {% csrf_token %}
        <div id="cart_container">
        {%include "registrar/render_cart_contents.html" %}
        </div>
        <hr/>
        <a href="/app/registrar" class="btn btn-success btn-lg w-40" tabindex="-1" role="button"> Back to Attendees</a>
        <a href="/app/registrar/checkout/exec" class="btn btn-primary btn-lg w-40" tabindex="-1" role="button"> Checkout Now</a>
        </form>
      </div>
    </div>
    </main>
</div>
<script src="/static/js/registrar.js"></script>

{%endblock %}
