{%extends "registrar/base.html" %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{%block bootstrap5_content %}
<script src="https://kit.fontawesome.com/4f00122db6.js" crossorigin="anonymous"></script>
<div class="container">
    <main>
      <div class="py-5 text-center">

        <h2 class="logo-text">{{community.name}}</h2>
        <p class="tagline-text">{{community.tagline}}</p>
        <p class="lead">Please review all details below before payment. We cannot execute any changes after payment!</p>
            {% include "registrar/progressbar.html" %}
        <hr/>
         <div class="row g-5">

      <div class="col-md-10 col-lg-12">
        <form class="needs-validation" id="attendee_form" onsubmit="registrar.start1(); return false;">

         {% csrf_token %}
        <div id="cart_container">
        {%include "registrar/render_cart_contents.html" %}
        </div>
        <hr/>
         <h2 class="text-right text-primary">Total: ${{total}}</h2>
        <a href="/app/registrar/merch" class="btn btn-success btn-lg w-100" tabindex="-1" role="button"> <i class="fa-solid fa-backward-step"></i> Make Changes</a><br/><br/>
        <a href="/app/registrar/checkout/exec" class="btn btn-primary btn-lg w-100" tabindex="-1" role="button"> <i class="fa-solid fa-cash-register"></i> Checkout Now</a>
        </form>
      </div>
    </div>

    </main>

</div>
<script src="/static/js/registrar.js"></script>

{%endblock %}
