{%extends "registrar/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{%block bootstrap5_content %}
<script src="https://kit.fontawesome.com/4f00122db6.js" crossorigin="anonymous"></script>
<div class="container">
    <main>
        <div class="py-5 text-center">

        <h2 class="logo-text">{{community.name}}</h2>
        <p class="tagline-text">{{community.tagline}}</p>
        <p class="lead"><em>Got Loot?</em> Your registrations (may) include some; and you may want to pick up even more! Review your choices below:</p>
            {% include "registrar/progressbar.html" %}
        <hr/>

         <div class="row g-5">
      <div class="col">
        <form class="needs-validation" id="loot_form" onsubmit="registrar.start2(); return false;">
          <input type="hidden" id="session_total" value="{{sessionTotal}}"/>
         {% csrf_token %}

         {%include "registrar/loot_form.html" %}
        <hr/>
        <div class="row text-primary">
        <div class="col-9">
        <h4 class="mb-3">Total now due:</h4>
        </div>
        <div class="col-3 text-right">
        <h6 class="mb-3" >Reg(s) Subtotal: ${{sessionTotal}}</h6>
        <h6 class="mb-3" >Loot Subtotal: <span id="loot_stotal_div">$100</span></h6>
        <h4 class="mb-3" id="totalDue">${{sessionTotal}}</h4>
        </div>
        </div>


          <hr class="my-4">
         <button class="w-40 btn btn-success btn-lg" type="button" onclick="location.href='/app/registrar/'">  <i class="fa-solid fa-backward-step"></i> Edit Attendee(s)</button>
         <button class="w-40 btn btn-primary btn-lg" type="submit"> Proceed to <i class="fa-solid fa-cash-register"></i> Payment </button>
        </form>
      </div>
    </div>
    </main>
</div>
<script src="/static/js/registrar.js"></script>
<script type="text/javascript">
       registrar.updateLootTotal();
</script>


{%endblock %}
