
<h4 class="mb-3 text-primary"><i class="fa-solid fa-users"></i>Attendees:</h4>
  <ul class="list-group mb-3">
        {% for reg in sessionRegs %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div style="text-align: left;">
              <h6 class="my-0">{{reg.firstName}} {{reg.lastName}} </h6>
              <small class="text-muted">{{reg.level.label}}</small>
            </div>
            <span class="text-muted">${{reg.total}} <a href="#" class="badge rounded-pill bg-warning text-white" onclick="registrar.rem('{{reg.pk}}');">X</a></span>

          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Registration(s) subtotal: (USD)</span>
            <strong id="regsub_amount">${{sessionTotal}}</strong>
          </li>
  </ul>
<br/>
<h4 class="mb-3 text-primary"><i class="fa-solid fa-gifts"></i> Loot:</h4>
<ul class="list-group mb-3">
  {% for loot in sessionLoot %}
  <li class="list-group-item d-flex justify-content-between lh-sm">
    <div class="row w-100">
      <div class="col-10">
      <h6 class="my-0">{{loot.item.label}} (Count: {{loot.count}})</h6>
      <small class="text-muted">{{loot.item.descr}} Cost Each: ${{loot.item.cost}}</small>
      </div>
      <div class="col text-right">
        ${{loot.subtotal}} <a href="#" class="badge rounded-pill bg-warning text-white" onclick="registrar.rem_loot('{{loot.id}}');">X</a></span>
      </div>
    </div>


  </li>
  {% endfor %}
  <li class="list-group-item d-flex justify-content-between">
    <span>Loot subtotal: (USD)</span>
    <strong id="lootsub_amount">${{lootTotal}}</strong>
  </li>
</ul>