
<ul class="list-group mb-3">
        {% for loot_set in sessionLoot %}
        {% for loot in loot_set %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div style="text-align: left;">
              <h6 class="my-0">{{loot.loot.label}} </h6>
              <small class="text-muted">{{loot.loot.descr}}</small>
            </div>
            <span class="text-muted">${{loot.loot.cost}} x {{loot.count}}</span>
          </li>
          {% endfor %}
            {% endfor %}
        </ul>
