<div class="row">

  <div class="col-md-3">
    <ul class="list-group">

      <li class="list-group-item" [class.active]="step === (i + 1)" *ngFor="let stp of steps; index as i">
        <h4 style="font-weight: lighter">{{i + 1}}. {{stp.header}}</h4>
        <p>{{stp.subtext}}</p>
      </li>

    </ul>
  </div>
  <div class="col-md-9">
    <div *ngIf="step === 1">

      <div>
        <button style="float: right" class="btn btn-primary btn-sm">Use Docker Compose Values</button>
      </div>

<form [formGroup]="dbForm">

    <div class="mb-3">
      <label for="db_host" class="form-label">Database Host</label>
      <input class="form-control" id="db_host" formControlName="db_host" aria-describedby="dbhostHelp" placeholder="localhost">
      <div id="dbhostHelp" class="form-text">This should be a FQDN or IP Address that can be reached by this application.</div>
    </div>

  <div class="mb-3">
      <label for="db_port" class="form-label">Database Port</label>
      <input type="number" class="form-control" id="db_port" formControlName="db_port" placeholder="5432">
    </div>

  <div class="mb-3">
      <label for="db_user" class="form-label">Database Username</label>
      <input class="form-control" id="db_user" formControlName="db_user" placeholder="rocky">
  </div>

  <div class="mb-3">
      <label for="db_pass" class="form-label">Database Password</label>
      <input class="form-control" type="password" id="db_pass" formControlName="db_pass" placeholder="changeMe">
  </div>

  <div class="mb-3">
      <label for="db_name" class="form-label">Database Name</label>
      <input class="form-control" id="db_name" formControlName="db_name" aria-describedby="dbnameHelp" placeholder="midsummer">
    <div id="dbnameHelp" class="form-text">This database should already be created in PostgreSQL and the user listed above should have Owner Permissions.</div>
  </div>

</form>

      <div class="row">
        <div class="col-md-6 offset-6">

          <button class="btn btn-success btn-lg" style="width: 100%">Test and Next ></button>

        </div>
      </div>

    </div>
  </div>


</div>
