    .active {
    color: var(--warning);
}
       .stepIndicator {
            position: relative;
            flex: 1;
            padding-bottom: 30px;
        }
       .stepIndicator.active {
            font-weight: 600;
        }
       .stepIndicator.finish {
            font-weight: 600;
            color: #009688;
        }
         .stepIndicator.active-dark {
            font-weight: 600;

        }

        .stepIndicator::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: 9;
            width: 20px;
            height: 20px;
            background-color: var(--warning);
            border-radius: 50%;
            border: 3px solid var(--dark);
        }

        .stepIndicator.active::before {

            border: 1px solid var(--warning);
            background-color: #FF47AF;
            animation: shine 2s forwards, flicker 3s infinite;
            box-shadow: 0px 0px 10px 3px var(--warning);
        }
        .stepIndicator.finish::before {
            background-color: var(--success);
            border: 3px solid var(--danger);
        }
        .stepIndicator::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 8px;
            width: 100%;
            height: 3px;
            background-color: var(--dark);

        }
        .stepIndicator.active::after {
            background-color: var(--warning);
            animation: shine 2s forwards, flicker 3s infinite;
            box-shadow: 0px 0px 10px 3px var(--warning);
        }


       .stepIndicator.finish::after {
            background-color: #009688;
        }
        .stepIndicator:last-child:after {
            display: none;
        }
        #signUpForm input {
            padding: 15px 20px;
            width: 100%;
            font-size: 1em;
            border: 1px solid #e3e3e3;
            border-radius: 5px;
        }
        #signUpForm input:focus {
            border: 1px solid #009688;
            outline: 0;
        }
        #signUpForm input.invalid {
            border: 1px solid #ffaba5;
        }
        #signUpForm .step {
          display: none;
        }
        #signUpForm .form-footer{
            overflow:auto;
            gap: 20px;
        }
        #signUpForm .form-footer button{
            background-color: var(--bs-primary);
            border: 1px solid #009688 !important;
            color: #ffffff;
            border: none;
            padding: 13px 30px;
            font-size: 1em;
            cursor: pointer;
            border-radius: 5px;
            flex: 1;
            margin-top: 5px;
        }
        #signUpForm .form-footer button:hover {
          opacity: 0.8;
        }

        #signUpForm .form-footer #prevBtn {
            background-color: #fff;
            color: #009688;
        }