      <div class="col-md-4 col-lg-7">
        <h4 class="mb-3"><i class="fa-solid fa-id-card"></i>&#160;Basic Details:</h4>
        <form class="needs-validation" method="POST" action="#" onsubmit="return create_community.start();" id="profile_form">
        {%csrf_token%}
          <div class="row g-3">
            <div class="col-sm-12">
            
              <label for="name" class="form-label">Name:</label>
               <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-signature"></i></span>
                <input type="text" class="form-control" name="name" id="name" placeholder="Character Name" required="" value="{{community.name}}">
              <div class="invalid-feedback">
                  A community name is required.
                </div>
              </div>
            </div>
             
           

            <div class="col-12">
              <label for="hash" class="form-label">Community ID / Unique Slug:</label>
              <div class="input-group has-validation">
                <span class="input-group-text">#</span>
                <input type="text" class="form-control" name="hash" id="hash" placeholder="handle" required="" value="{{community.hash}}">
              <div class="invalid-feedback">
                A unique, valid handle is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="tagline" class="form-label">Tagline:</label>
              <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-tags"></i></span>
                <input type="text" class="form-control" name="tagline" id="tagline" placeholder="Human" required="" value="{{community.tagline}}">
              <div class="invalid-feedback">
                  A community tagline is required.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="action_call_cover" class="form-label"></i>Action Call for Cover Page:</label>
              
              <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-exclamation"></i></span>
                <input type="text" class="form-control" name="action_call_cover" id="action_call_cover" placeholder="action_call_cover" required="" value="{{community.action_call_cover}}">
              <div class="invalid-feedback">
                  A Call to Action for the coverpage is required.
                </div>
              </div>
            </div>

              <div class="col-md-6">
              <label for="dynapage" class="form-label"></i>DynaPage Cover Template:</label>
              
              <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-file-circle-check"></i></span>
                <select id="dynapage" class="form-select" name="dynapage" placeholder="Select Dynapage Template" required="">
                <option value="">[select template]</option>
                {% for template in templates %}
                     <option value="{{template.template_id}}"
                     {%if template == community.dynapage.template %}
                     selected
                     {%endif %}
                     >{{template.label}}</option>
                {%endfor %}
                </select>
                <div class="invalid-feedback">
                  A DynaPage Cover template is required
                </div>
              </div>
            </div>
           <div class="col-12">
              <label for="backgroundItem" class="form-label">Gallery Item for Cover Page Background:</label>
              <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
               <select id="backgroundItem" class="form-select" name="backgroundItem" placeholder="Select Background Item" >
                <option value="">[select background item]</option>
                {% for item in backgroundItems %}
                     <option value="{{item.uuid}}"
                     {%if item == community.backgroundItem %}
                     selected
                     {%endif %}
                     >{{item.title}}</option>
                {%endfor %}
                </select>
              </div>
            </div>
          </div>
          <hr class="my-4">

          <h4 class="mb-3"><i class="fa-solid fa-book-open"></i>&#160;Brief Introduction:</h4>
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-feather-pointed"></i></span>
            <textarea class="form-control" id="introduction" name="introduction" aria-label="With textarea">{{community.introduction}}</textarea>
         </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit"><i class="fa-solid fa-check"></i>Preview Details!</button>
        </form>
      </div>
