<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Page Editor - {{dynapage_page_name}}:</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
          <i class="fa-solid fa-file-pen"></i>&#160;
          Edit Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">
          <i class="fa-solid fa-magnifying-glass"></i>&#160;
          Preview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">
          <i class="fa-solid fa-floppy-disk"></i>
          &#160;Save</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">
          <i class="fa-solid fa-reply"></i>
          &#160;Revert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">
          <i class="fa-solid fa-object-group"></i>
          &#160;Widgets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">
          <i class="fa-solid fa-circle-question"></i>
          &#160;Help</a>
        </li>
    </ul>
    </div>
  </div>
</nav>
