<div class="offcanvas offcanvas-bottom widget_box" tabindex="-1" id="dynapage-widgets" data-bs-scroll="true" data-bs-backdrop="false" data-bs-scroll="true" data-bs-backdrop="false" >
  <!--<div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>-->
  <div class="offcanvas-body">
  <h5>Widget Selector</h5>
  <h6 class="text-muted">Drag and drop widgets from this toolbar to any part of the page to add it!</h6>
  <div class="card-group">
  {% for widget in available_widgets %}
        {%include "dynapages_tools/widget_editor/widget_card.html" %}
  {% endfor %}
 </div>
</div>
<script src="/static/dynapages_tools/widget_editor/js/widget_editor.js"></script>
<link href="/static/dynapages_tools/widget_editor/css/widget_editor.css" rel="stylesheet">
<script type="text/javascript">
dynapage_editor.init();
</script>
