{% extends 'django_bootstrap5/bootstrap5.html' %}
{% block bootstrap5_title %}
Welccome!!
{% endblock %}
{% block bootstrap5_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawesome.com/52b95d724a.js" crossorigin="anonymous"></script>
<body class="d-flex h-100 text-center bg-dark">
<main class="w-100 text-center" style="padding-top: 2px; margin-top: 2px;">
    <div class="card" style="width: 25rem; margin-left: auto; margin-right: auto;">
    <div class="card-body">
        <h5 class="card-title text-danger"><i class="fa-solid fa-circle-exclamation"></i>&#160;System Error!</h5>
        <h6 class="card-subtitle mb-2 text-muted">Unable to find SLParcel in System Database.</h6>
        <p class="card-text">The parcel you're standing on is not registered to any PlyHUD Community.</p>

        <p class="card-text text-muted">Admins: You must create an SLParcel reference using the admin interface.</p>
    </div>
    </div>
</main>
</body>
{% endblock %}
