
<div class=""><div class="">
    <div class="widget_simpleBanner_main" data-widget="simpleBanner">
        <div class="container-fluid">
            <div class="row">
                <div class="col profile_avatar av-100">
                <img src="{{av_path}}/{{community.avatar}}" class="img-thumbnail" alt="{{community.name}} Icon">
                </div>
                <div class="col profile_data">
                    <div class="profile_name_div">
                    <h3 class="header">{{community.name}}</h3>
                    </div> 
                    <div class="col profile_tagline">
                    All streams!
                    <hr/>


                </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
