<meta property="dynapage_template_name" content="SimpleBanner Widget"/>
<meta property="dynapage_template_version" content="v1.0"/>
<meta property="dynapage_template_author" content="Alisi"/>
<meta property="dynapage_template_description" content="A simple widget banner for profiles."/>
{%if widget.banner == True %}
<div class="card"><div class="card_body">
    <div class="widget_simpleBanner_main" data-widget="simpleBanner">
        <div class="container-fluid">
            <div class="row">
                <div class="col profile_avatar">
                <img src="{{av_path}}/{{profile.avatar}}" class="img-thumbnail" alt="{{profile.name}} Icon">
                </div>
                <div class="col profile_data">
                    <div class="profile_name_div">
                    <span class="name"><i class="fa-regular fa-address-card"></i>&#160;{{profile.name}}</span> <span class="slug">(@{{profile.profile_id}})</span>
                    </div> 
                    <div class="col profile_tagline">
                    <i class="fa-solid fa-feather-pointed"></i>&#160; <em>{{profile.introduction}}</em>
                    <hr/>
                    </div>
                    <div class="col stats_data_1">
                    <strong><i class="fa-solid fa-user"></i> Gender:</strong>&#160;{{profile.gender}}&#160;<em class="pronouns">({{profile.pronouns}})</em> 
                    <strong><i class="fa-solid fa-atom"></i>Species:</strong>&#160; Level {{profile.level}} {{profile.species}}
                    </div>
                    
                    <div class="col stats_data_2">
                    {% if primaryGroup %}
                    <strong><i class="fa-solid fa-chess-queen"></i> Title:</strong>&#160;{{primaryGroup.title.title}}</em>&#160; 
                    <strong><i class="fa-solid fa-user-group"></i> Clan:</strong>&#160;{{primaryGroup.group.name}}</em>&#160; 
                    {% endif %}
                    <strong><i class="fa-solid fa-signal"></i> Current Status:</strong>&#160;{{profile.status}}</em> 
                    </div>
                    
                    <div class="col stats_data_3">
                    <strong><i class="fa-solid fa-file-waveform"></i> HP:</strong>&#160;{{profile.HP}} (max: {{profile.max_HP}})</em>&#160; 
                    <strong><i class="fa-solid fa-bolt-lightning"></i> MP:</strong>&#160;{{profile.MP}} (max: {{profile.max_MP}})</em>&#160; 
                    <strong><i class="fa-solid fa-syringe"></i> STA:</strong>&#160;{{profile.STA}} (max: {{profile.max_STA}})</em> 
                    <br/>
                    <strong><i class="fa-solid fa-clock"></i> Last Seen:</strong>&#160;{{profile.last_seen}}</em> 
                    </div>
                    <br/>
                    <div class="col actions">
                    <button type="button" class="btn btn-primary"><i class="fa-solid fa-message"></i> Message</button>
                    &#160;
                    <button type="button" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i> Watch</button>
                    &#160;
                    <button type="button" class="btn btn-info"><i class="fa-solid fa-user-group"></i> Friend</button>
                    &#160;
                    <button type="button" class="btn btn-primary"><i class="fa-solid fa-hand-holding-dollar"></i> Pay</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div></div>
{% endif %}
