{% load static %}
<!-- login box -->
            <div class="col-md-8 offset-md-2 col-sm-12 col-xs-12" style="margin-top: 12vh;">

                <div style="text-align: center; margin-bottom: 3vh;">
                    <img src="{% static "fdlogo.png" %}" style="width: 100px; height: auto; border-radius: 25px;">
                </div>
                                {% if connecting.valid %}
                        <div class="card" style="text-align: center; margin-bottom: 2vh;">
                        <div class="card-body" style="text-align: center">
                            <h5>Connecting to: {{ connecting.app_name.title }}</h5>
                            <p>By continuing, {{ connecting.app_name.title }} will receive your account details from UFLS.</p>
                        </div>
                        </div>
                    {% endif %}
                <div class="card">
                    <div class="card-body" style="text-align: center;">