
$body-bg: #1F1F1F;
$body-color: #DCE6F9;
$primary: #FE0BDD;
$secondary: #2F6BDA;
$success: #F76926;
$danger: #FEE440;
$info: #6F5FAB;
$warning: #FF5CB6;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$enable-shadows: true;
$enable-gradients: true;
$navbar-light-brand-color: $info;
$navbar-dark-brand-hover-color: $primary;
$dropdown-bg: $gray-700;
$dropdown-color: $white;
$dropdown-link-color: $white;
$dropdown-link-hover-bg: lighten($primary, 16%);
$dropdown-header-color: $primary;
$dropdown-link-active-color: $white;
$input-bg: $gray-900;
$jumbotron-bg: $gray-800;
$progress-bg: $gray-700;
$pagination-bg: $dark;
$list-group-bg: $gray-900;
$table-active-bg: #D95A1F;
$table-bg-level: 3;
$table-head-color: $dark;
$table-border-level: -3;
$input-disabled-bg: $black;
$table-head-bg: $gray-600;
$theme-color-interval: 10;
$btn-disabled-opacity: 0.5;
$input-border-color: $gray-600;
$input-color: $body-color;
$custom-control-indicator-bg: $gray-900;
$custom-select-color: $primary;
$custom-select-indicator-color: $primary;
$custom-range-thumb-disabled-bg: $gray-900;
$custom-file-color: $primary;
$box-shadow: 0 .5rem 1rem rgba($primary, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($primary, .075);
$box-shadow-lg: 0 1rem 3rem rgba($primary, .175);
$pagination-active-border-color: $info;
$pagination-active-bg: rgba($info,0.5);
$pagination-hover-color: $info;
$pagination-hover-bg: rgba($info,0.3);
$pagination-color: $info;
$navbar-light-brand-hover-color: $info;
$pagination-disabled-bg: $gray-900;
$pagination-hover-border-color: $info;
$pagination-border-color: $gray-600;
$pagination-disabled-border-color: $gray-900;
$card-bg: $gray-900;
$card-cap-bg: rgba($black,0.3);
$list-group-disabled-bg: rgba($black,0.3);
$list-group-color: $body-color;
$modal-content-bg: $gray-900;
$modal-content-border-color: rgba($primary, .2);
$modal-content-color: $body-color;
$popover-bg: $gray-900;
$popover-border-color: rgba($warning, .2);
$progress-box-shadow: inset 0 .1rem .1rem rgba($black, .9);
$progress-bar-bg: theme-color("info");
$breadcrumb-bg: $gray-900;
$alert-bg-level: 5;
$alert-color-level: -5;
$alert-border-level: 2;
$carousel-control-color: $primary;
$input-btn-font-family: ;
$custom-range-track-bg: $gray-700;
$custom-control-label-disabled-color: lighten($primary,20%);
$custom-control-label-color: $body-color;
$input-group-addon-color: $success;
$input-group-addon-bg: $gray-700;
$list-group-hover-bg: rgba($primary,0.6);
$modal-footer-border-color: $gray-800;
$link-hover-color: lighten($link-color, 15%);