{%extends "gallery-dashboard_bottom_controls.html" %}
{% load django_bootstrap5 %} 
{% block "controls_title" %}Review and Publish: <span_id="submission_title">{{temp_file.name}}</span>{% endblock %}

{% block "controls_body" %}
{% if temp_file.meta.dpi <= low_dpi_thrs %}
<div class="alert alert-info" role="alert">
  <i class="fas fa-info-circle"></i>&#160;This file has a DPI of {{temp_file.meta.dpi}}.
</div>
{% endif %}
    <div class="row">
          <div class="col">
            <h6>
            Title and Description:
            </h6>
             {% bootstrap_field review_form.title required=True  %}
            <h6>Description:<span class="badge rounded-pill bg-warning text-dark fade" role="alert" id="descr_alert">
            description is required!
            </span>
            </h6>
             {% bootstrap_field review_form.descr required=True show_label=skip %}
          </div>
          <div class="col">
           <h6>File Settings:</h6>
            <table class="table table-responsive">
                <tr>
                    <td>{% bootstrap_field review_form.resolution  required=True %}</td>
                    <td>
                    Raiting: <span class="badge rounded-pill bg-warning text-dark fade" role="alert" id="rating_alert">
                        required!
                    </span>
                    {% bootstrap_field review_form.raiting  required=True show_label=skip %}
                    </td>
                    <td>
                    <span class="badge rounded-pill bg-warning text-dark fade" role="alert" id="nsfw_alert">
                        required!
                    </span>
                    {% bootstrap_field review_form.nsfw  show_label=skip required=True %}</td>
                </tr>
                <tr>
                    <td>{% bootstrap_field review_form.display_style required=True %}</td>
                    <td>{% bootstrap_field review_form.display_sizing  required=True %}</td>
                    <td>{% bootstrap_field review_form.display_details  required=True %}</td>
                </tr>
            </table>
            </div>
            <div class="col">
            <h6>Category, Keywords and Collections:</h6>
             <table class="table table-responsive">
                <tr>
                    <td>{% bootstrap_field review_form.publish_category  multiple="" required=True %}</td>
                    <td>
                    <h6>Keywords: 
                    <span class="badge rounded-pill bg-primary fade" role="alert" id="kw_alert">
                        recommended!
                    </span>
                    </h6>
                    {% bootstrap_field review_form.publish_keywords  multiple="" show_label=skip required=True %}
                    </td>
                    <td>{% bootstrap_field review_form.publish_notify field_class="" required=True %}</td>
                </tr>
                <tr >
                    <td colspan="2">
                    <h6>Add to Collection(s): 
                    <span class="badge rounded-pill bg-warning text-dark fade" role="alert" id="collection_alert">
                        at least one is required!
                    </span>
                    </h6>
                    
                    {% bootstrap_field review_form.publish_collections multiple="" required=True show_label=skip %}
                    </td>
                
                    <td>
                    <br/>
                    {% bootstrap_button "Publish Now!" button_type="submit" button_class="btn-success" %}
                    </td>
                </tr>
            </table>           
            </div>


{% endblock %}

