<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
		<title>Furrydelphia Staff Register :: {% block title %}{% endblock %}</title>
		{% block head %}
		{% endblock %}
		{% block notrack %}

		{% endblock %}

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url "front:index" %}">Furrydelphia Staff Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "front:index" %}">Get Started <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "front:portal" %}">Portal</a>
      </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "front:staff-list" %}">Staff List</a>
                </li>
            {% endif %}
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "front:hr" %}">HR Portal</a>
                </li>
            {% endif %}
      <!--
	<li class="nav-item">
        <a class="nav-link" href="#">Marketplace Map</a>
      </li> -->
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
	{% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">{{ request.user.username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "logout" %}">Logout</a>
      </li>
	{% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "front:ufls-login" %}">Login</a>
      </li>
	{% endif %}
    </ul>
  </div>
</nav>
		<div class="container">
			{% block body %}
			{% endblock %}
		</div>
		<div class="containter">
			<hr>
			<div class="text-center">
				&copy; 2019-2021 Furrydelphia, Inc.<br>
				FDStaffPortal v1.0.0 by <a href="https://twitter.com/fluffsune/">yuukari</a><br>
				<small>{{ request.META.HTTP_HOST }}</small>
				{% if request.user.is_superuser %}
				<br><a href="{% url "admin:index" %}">System Backend</a>
				{% endif %}
			</div>
		</div>
	</body>
</html>
