{% extends "base.html" %}
{% load fd_helpers %}
{% block body %}
    <br>
    <h2>Department Applications</h2>
    <h4>{{ department.name }}</h4>
    {% for x in app_forms %}
        {% if request.user.is_superuser %}
        <a href="/onboarding/convert/{{ pks|return_item:forloop.counter0 }}/" class="btn btn-info">Convert to Onboarding Record</a>
        {% endif %}
        <a href="/onboarding/mark/{{ pks|return_item:forloop.counter0 }}/" class="btn btn-success">Approve, Send to HR for Onboarding</a>
        <a href="/onboarding/decline/{{ pks|return_item:forloop.counter0 }}/" class="btn btn-danger">Decline, Remove App</a>
        <table class="table table-striped">
            {{ x }}
        </table>
        <hr>
    {% endfor %}
{% endblock %}
