{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>Staff Help</h1>
        <h3>Accessing the Furrydelphia Staff Portal.</h3>
    </div>
    <h4>For Staff Before 2021</h4>
    <p>In May 2021, we sent out a form for staff to fill out which gave you a staff account e-mail (e.g. fluffy@staff.furrydelphia.org). You must use this e-mail to login to the staff portal.</p>
    <br>
    <h4>For Staff After 2021</h4>
    <p>You will have recieved an onboarding e-mail from ufls@furrydelphia.org containing your Staff E-mail, Temp Password, and Instructions for Logging In. If you've forgotten your password, you can use the Google Password Reset Form. Your recovery e-mail is the e-mail provided to us in your application. If you still run into any issues, you can e-mail <a href="cto@furrydelphia.org">cto@furrydelphia.org</a> for assistance.</p>
    <br>
    <h4 id="volunteers">For Volunteers</h4>
    <a>Volunteers do not have access to this staff portal. You have a unique portal for which you can manage your volunteering hours and other information<!--, <a href="https://volunteer.furrydelphia.org/">https://volunteer.furrydelphia.org/</a>-->. Please check your e-mail for more details.</p>
    </div>

{% endblock %}
