{% extends "base.html" %}
{% load fd_helpers %}
{% block body %}
    <br>
    <h2>HR &amp; Onboarding Portal</h2>
    <div class="row">
    <div class="col-md-8">
        <h3>Open Applications (No Specific Position)</h3>
            <div class="card">
  <ul class="list-group list-group-flush">
        {% for x in applications %}
    <li class="list-group-item">{{ x.firstName }} {{ x.lastName }} ({{ x.fanName }}) - No Specific Position <a href="/hr/app/{{ x.id }}/" class="pull-right btn btn-sm btn-link">Open App</a></li>
        {% endfor %}
    </ul>
</div>
<hr>
    <h3>Open Applications by Department</h3>
    {% for y in departments %}
    <div class="card">
  <div class="card-header bg-primary" style="color: white !important;">
    {{ y.name }} (Board Member: {{ y.departmentBoard.first_name }} / Dept Head: {{ y.departmentHead.username }})
  </div>
  <ul class="list-group list-group-flush">
        {% for x in y.getOpenApplications %}
    <li class="list-group-item">{{ x.firstName }} {{ x.lastName }} ({{ x.fanName }}) - {{ x.openPosition.name }} <a href="/hr/app/{{ x.id }}/" class="pull-right btn btn-sm btn-link">Open App</a></li>
        {% endfor %}
    {% if y.getOpenApplications.count == 0 %}
        <li class="list-group-item"><em>No Applications For Department</em></li>
  {% endif %}
  </ul>
</div>
    {% endfor %}
    </div>
    <div class="col-md-4">
        <h3>Ready to Onboard</h3>
        <div class="card">
  <ul class="list-group list-group-flush">
        {% for x in onboardings %}
    <li class="list-group-item">{{ x.firstName }} {{ x.lastName }} ({{ x.fanName }}) - {{ x.department.name }}
        <br>
    <span>
        {% if request.user.is_superuser %}<a href="{% url "onboarding:setup" x.pk %}" class="btn btn-sm btn-info">Create Account</a>{% endif %}
        {% if request.user.is_superuser == False %}<a href="#" class="btn btn-sm btn-inf disabled">Create Account</a>{% endif %}
        <a href="{% url "onboarding:delete-record" x.pk %}" class="btn btn-sm btn-danger">Cancel</a></span>
    </li>
        {% endfor %}
    </ul>
</div>
    </div>
    </div>
{% endblock %}
