{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>Welcome to Furrydelphia</h1>
        <h3>Let's get to work!</h3>
    </div>
    <h4>Current Staff?</h4>
    <a href="{% if request.user.is_authenticated %}/portal/{% else %}https://backend.furrydelphia.org/auth/?next=/app/redirect/staff-portal/{% endif %}" class="btn btn-block btn-primary">{% if request.user.is_authenticated %}{% else %}Login and {% endif %}Open Staff Portal</a>
    <a href="/help/" class="btn btn-block btn-link">Having Trouble? Need Help?</a>
    <div id="ufls-messages" style="display: none">
        </div>
    <br>
    <h5>Looking to Help?</h5>
    <div class="row">
        <div class="col-md-4">
            <a href="/app/" class="btn btn-block btn-secondary">Staff Application</a>
        </div>
        <div class="col-md-4">
            <a href="/open/" class="btn btn-block btn-success">Current Staff Openings</a>
        </div>
        <div class="col-md-4">
            <a href="/help/#volunteers" class="btn btn-block btn-info">Looking to Volunteer?</a>
        </div>

    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        		$.get('https://backend.furrydelphia.org/api/messages/', function(res){
        console.log(res);
        $("#ufls-messages").attr("style","");
        if(res.length !== 0){
            $.each(res, function(i,o){
               $("#ufls-messages").append("<div class='alert alert-warning'><span style='font-weight: bolder'>"+o.title+"</span> "+o.description+"<br><em>Alert Expires After: "+o.dateExpires+"</div>")
            });
        }
    });
    </script>
{% endblock %}
