{% extends "base.html" %}
{% block body %}
<h1>Current Open Staff Positions</h1>

    <div class="row">
    {% for x in departments %}
        <div class="col-md-3" style="margin-bottom: 10px;">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">{{ x.name }}</p>
                </div>
                <div class="card-body">
                    <a href="#dept-{{ x.id }}" class="btn btn-block btn-info btn-sm">View {{ x.getOpenPositions.count }} Open Position{% if x.getOpenPositions.count != 1 %}s{% endif %}</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

<div class="row">
            {% for x in departments %}
                <div class="col-md-12" id="dept-{{ x.id }}">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-header">
                        <p class="card-title">{{ x.name }}</p>
                    </div>
                    <div class="card-body">
                        <dl>
                            {% if x.departmentBoard %}
                            <dt>Assigned Board Member</dt>
                            <dd>{{ x.departmentBoard.first_name }} ({{ x.departmentBoard.username }})</dd>
                            {% endif %}
                            {% if x.departmentHead %}
                            <dt>Department Director</dt>
                            <dd>{{ x.departmentHead.first_name }} ({{ x.departmentHead.username }})</dd>
                            {% endif %}
                            {% if x.departmentSecond %}
                            <dt>Department Assistant Director</dt>
                            <dd>{{ x.departmentSecond.first_name }}</dd>
                            {% endif %}
                        </dl>
                        <hr>
                        {% for y in x.getOpenPositions %}
                            <h5>{{ y.name }} (Spots Open: {{ y.need }})</h5>
                            <p>Description: {{ y.description|linebreaksbr }}</p>
                            <p>Requirements: {{ y.requirements|linebreaksbr }}</p>
                            <a href="/open/apply/{{ y.pk }}/" class="btn btn-primary btn-block btn-sm">Apply for {{ y.name }}</a>
                            <hr>
                        {% endfor %}
                        {% if x.getOpenPositions.count == 0 %}
                            <p>No Open Positions for this Department.</p>
                        {% endif %}
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
