{% extends "base.html" %}
{% block body %}

    <h4>Departments</h4>
        <div class="row">
            {% for x in departments %}
                <div class="col-md-12">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-header">
                        <p class="card-title">{{ x.name }}</p>
                    </div>
                    <div class="card-body">
                        <dl>
                            {% if x.departmentBoard %}
                            <dt>Assigned Board Member</dt>
                            <dd>{{ x.departmentBoard.first_name }} ({{ x.departmentBoard.username }})</dd>
                            {% endif %}
                        </dl>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-primary">
                                    <td>{{ x.departmentHead.first_name }}</td>
                                    <td>{% if x.name == 'Executive' %}Con Chair{% else %}{{ x.name }} Director{% endif %}</td>
                                    <td>{{ x.departmentHead.username }}</td>
                                </tr>
                                {% if x.departmentSecond %}
                                <tr class="bg-info">
                                    <td>{{ x.departmentSecond.first_name }}</td>
                                    <td>{% if x.name == 'Executive' %}Vice Chair{% else %}{{ x.name }} Assistant Director{% endif %}</td>
                                    <td>{{ x.departmentSecond.username }}</td>
                                </tr>
                                {% else %}
                                <tr class="bg-info">
                                    <td><em>Vacant</em></td>
                                    <td>{% if x.name == 'Executive' %}Vice Chair{% else %}{{ x.name }} Assistant Director{% endif %}</td>
                                    <td><em>N/a</em></td>
                                </tr>
                                {% endif %}
                                {% for y in x.getStaff %}
                                <tr>
                                    <td>{{ y.showDisplayName }}</td>
                                    <td>{{ y.showDisplayTitle }}</td>
                                    <td>{{ y.user.username }}</td>
                                </tr>
                                {% endfor %}
                                </dl>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    <h3>Unassigned Staff</h3>
    <ul class="list-group">
        {% for member in staff %}
            {% if member.1 == None %}
            <li class="list-group-item">{{ member.0.username }} / {% if member.1 == None %}No Assignment {% if request.user.is_admin %}<a href="https://staff.furrydelphia.org/admin/staff/staffassignment/add/?user={{ member.0.pk }}" target="_blank">(Assign?)</a>{% endif %}{% else %}Assigned{% endif %}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
