{% extends "base.html" %}
{% block body %}
<br>
<div class="row">
	<div class="col-md-6">
            <div id="ufls-messages" style="display: none">
        </div>
		<h2><i class="fa fa-lock" aria-hidden="true"></i>UFLS Login</h2>
		<a href="https://backend.furrydelphia.org/auth/?next=/app/redirect/staff-portal/" class="btn btn-link btn-block">Click here to Initiate UFLS Staff Login</a>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $("#id_username").attr("type","email");
        $("input").addClass("form-control");
        $("label[for='id_username']").text("E-mail:");
        $("button[type='submit']").text("Sign In");
        $("button[type='submit']").addClass("btn btn-success btn-block");
	$(document).on('submit','form', function(event){
		var username = $("#id_username").val();
		$("#id_username").val(username.toLowerCase());
	});
			$.get('https://backend.furrydelphia.org/api/messages/', function(res){
        console.log(res);
        $("#ufls-messages").attr("style","");
        if(res.length !== 0){
            $.each(res, function(i,o){
               $("#ufls-messages").append("<div class='alert alert-warning'><span style='font-weight: bolder'>"+o.title+"</span> "+o.description+"<br><em>Alert Expires After: "+o.dateExpires+"</div>")
            });
        }
});
</script>
{% endblock %}
