<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en" class="h-100">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--     JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Page title -->

    <title>Ply: Select Profile</title>


    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link href="/static/css/default-community-coverPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet"> 
    <!-- Bootstrap JavaScript: !-->
     {% bootstrap_javascript %}

    {% block bootstrap5_extra_head %}{% endblock %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4f00122db6.js" crossorigin="anonymous"></script>
    
    <!--   Login Functions -->
</head>

<body data-bs-theme="dark">
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">

        <h2>Select Profile</h2>
        <p class="lead">Please select a profile below or create a new one!</p>


    </div>
    <div class="container-fluid" style="margin-left: auto; margin-right: auto;">
    <div class="card col-6"  style="margin-left: auto; margin-right: auto; padding: 20px;">
    <h5 class="modal-title" id="progressModalLabel"> <i class="fa-solid fa-users"></i> Switch Profile:</h5>
    <div class="modal-body">
    <ul class="list-group">
        {% for pr in profiles %}

              <a href="/dashboard/user/set_profile/{{pr.uuid}}?r=/dashboard/user/" class="list-group-item list-group-item-action link-dark rounded">
              <img style="position: relative; top: -10px;" src="{{av_path}}/{{pr.avatar}}" alt="{{pr.name|slice:"0:2"}}" class="rounded-circle me-2" width="50" height="50"/>
              <div style="display: inline-block; margin: 0;" class="text-primary">
                <blockquote class="blockquote">{{pr.name}}</blockquote>
                <figcaption class="blockquote-footer  text-muted">
                @{{pr.profile_id}}
                </figcaption>
              </div>
              </a>
        {% endfor %}
    </ul>
    </div>
    <br/><br/>
    <div class="modal-footer">
        {% bootstrap_button "Create new Profile" button_type="link" href="/forge/create/profile" button_class="btn-outline-success" %}
    <div>
    </div>
    </div>
</body>
</html>
