{% load static %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UFLS Application Connect</title>
    <meta name="description" content="Sign in to a UFLS Connected Application">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="{% static "custom.css" %}">
  </head>

  <body>

    <!-- Main -->
    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
              <h1>Sign In</h1>
            <h2>Unified Furrydelphia Login System</h2>
          </hgroup>
                        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <article style="padding: 5px 10px; margin-top: 25px; margin-bottom: 25px; background: #e64343">
                <strong>{{ error|escape }}</strong>
            </article>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <article style="padding: 5px 10px; margin-top: 25px; margin-bottom: 25px; background: #e64343">
            <strong>{{ error|escape }}</strong>
        </article>
    {% endfor %}
{% endif %}
          <form method="POST">
              {% csrf_token %}
            <input type="text" aria-label="Login" name="username" autofocus autocapitalize="none" placeholder="E-mail" autocomplete="username" maxlength="150" required id="id_username" onblur="this.value = this.value.toLowerCase()">
            <input input type="password" name="password" autocomplete="current-password" placeholder="Password" required id="id_password" aria-label="Password">
            <button type="submit" >Login</button>
              <a href="https://app.furrydelphia.org/signup" target="_blank" style="display: block; padding-top: 3px; padding-bottom: 3px; margin-bottom: 10px;" role="button" class="outline">New User?</a>
              <a href="https://app.furrydelphia.org/forgot" target="_blank" style="display: block; padding-top: 3px; padding-bottom: 3px; margin-bottom: 10px;" role="button" class="secondary outline">Forgot Password?</a>
              <hr>
              <a href="/auth/?next={{ request.GET.next }}" style="display: block;" role="button" class="secondary">Furrydelphia Staff Sign In</a>
          </form>
        </div>
        <div></div>
      </article>
    </main><!-- ./ Main -->

  </body>

</html>