
<div class=""><div class="">
    <div class="widget_simpleBanner_main" data-widget="simpleBanner">
        <div class="container-fluid">
            <div class="row">
                <div class="col profile_avatar av-100">
                <img src="{{av_path}}/{{community.avatar}}" class="img-thumbnail" alt="{{community.name}} Icon">
                </div>
                <div class="col profile_data">
                    <div class="profile_name_div">
                    <br/>
                    <h4 class="header">Posts with: {{keyword.keyword}} - </h4>
                    </div>
                    <div class="col profile_tagline">
                    &#160;
                    <span class="badge rounded-pill bg-primary"><i class="fa-solid fa-sitemap"></i> Items: {{keyword.items}}</span>
                    &#160;
                    <span class="badge rounded-pill bg-primary"><i class="fa-solid fa-eye"></i> Views: {{keyword.views}}</span>
                    &#160;
                    <span class="badge rounded-pill bg-info"><i class="fa-solid fa-share-nodes"></i> Shares: {{keyword.shares}}</span>
                    &#160;
                    <span class="badge rounded-pill bg-success"><i class="fa-solid fa-thumbs-up"></i> Likes: {{keyword.likes}}</span>
                    &#160;
                    <span class="badge rounded-pill bg-danger"><i class="fa-solid fa-heart-crack"></i> Dislikes: {{keyword.dislikes}}</span>
                    <hr/>


                </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
