{% load static %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UFLS Application Connect</title>
    <meta name="description" content="Sign in to a UFLS Connected Application">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="{% static "custom.css" %}">
  </head>

  <body>

    <!-- Main -->
    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
              <h1>Connect to Application?</h1>
            <h2>Unified Furrydelphia Login System</h2>
          </hgroup>
            <hgroup>
                                <h3>{{ app.title }}</h3>
    <h4>{{ app.author }}</h4>
            </hgroup>

    <article style="margin-top: 5px; margin-bottom: 15px; padding: 25px;">{{ app.description }}</article>

            <p>This application will recieve your staff credentials.</p>

            <form class="form-signin" action="{{ app.postUrl }}" method="GET">
            <input type="hidden" value="{{ otp.key }}" name="uflsStaffSession">
            <button role="button" class="primary" type="submit">Continue</button>
            </form>
            <a href="https://app.furrydelphia.org/" style="display: block; padding-top: 3px; padding-bottom: 3px; margin-bottom: 10px;" role="button" class="outline">Cancel</a>

        </div>
        <div></div>
      </article>
    </main><!-- ./ Main -->

  </body>

</html>