<div class="card widget-card badge bg-primary text-wrap" style="" draggable="true" ondragstart="dynapage_editor.drag_start(event)" ondragend="dynapage_editor.drag_end(event);" data-widget_id="{{widget.widget_id}}" data-widget_uuid="{{widget.widget_uuid}}"
     data-widget_type="{{widget.type}}" >
<!--  <img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">
    {% if widget.icon %}
        <i class="{{widget.icon}}"></i>
    {% endif %}
    {{widget.label}}
    </h5>
    <p class="card-text">{{widget.descr}}</p>
    {{widget.type}}
  </div>
</div>
