{% extends 'dashboard_main_panel-card.html' %}
{%block dashboard_name %}<i class="fa fas fa-upload" aria-hidden="true"></i>&#160;Create Submission(s){%endblock%}
{%block dashboard_content %}
{%include "bootstrap-plugin-kartik-v-fileupload.html" %}
<form id="upload_submission_form" method="POST" action="#">
{% csrf_token %}
<h4 class="text-secondary">What kind of content would you like to publish?</h4>
<p class="card-text ">
Select one of the available types below that best fits the content you're trying to publish and then click 'Create'.
</p>
<div class="btn-group" role="group" aria-label="Content Type">
 {% for btn in buttons %}
    <button type="button" class="btn btn-secondary gallery-content-button" onclick="window.gallery_core.set_type_desc(event)" data-desc="{{btn.content_type_info.0.desc}}" data-plugin="{{btn.content_type_info.0.id}}">
    <i class="h1 {{btn.content_type_info.0.icon}}"></i>
    <h2>{{btn.content_type_info.0.label}}</h2>
    </button>
 {% endfor %}
</div>
<hr/>
<p class="text-secondary" id="content_submission_type_desc"></p>
<br/>
<button type="button" class="btn btn-success gallery-content-submit" disabled="disabled" id="create_start_btn" onclick="gallery_core.load_upload_form(event);"><i class="far fa-plus-square"></i> Create...</button>
</form>
{% endblock %}
