{% extends 'ply-bootstrap5.html' %}
{% load django_bootstrap5 %} 
{% block bootstrap5_title %}
{{community.name}} - All Galleries
{% endblock %}

{% block meta-og-title %}All Galleries{% endblock %}
{% block meta-og-type %}website{% endblock %}
{% block meta-og-url %}https://{{vhost}}/gallery/index{% endblock %}
{% block meta-og-image %}https://{{vhost}}/static/favicon.png{% endblock %}
{% block meta-og-site_name %}{{community.name}}{% endblock %}
{% block meta-og-description %}The main Artwork Gallery for {{community.name}} - at https://{{vhost}} {% endblock %}



{% block bootstrap5_content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawesome.com/52b95d724a.js" crossorigin="anonymous"></script>
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/gallery_core.js"></script>


<link href="/static/css/dashboard.css" rel="stylesheet">
<link href="/static/css/profile.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet"> 
{% with page_title="- All Galleries:" %}
{%include "dashboard-main-navmenu.html" %}
{% endwith %}
{%include "gallery-modal-viewer.html" %}
<div class="container-fluid main-container" id="dashboard_mainPanel">
<div class="container-fluid">

{%for col in colls %}

    {%include "gallery-dashboard_collection.html" %}
{% endfor %}
</div>

 </div>
</div>

{%include "media.gallery.core/dashboard/uploader/reviewtbl_controls.html" %}

<script>
$(".gallery-card").on('click',function(e){
   gallery_core.launch_gallery_card(e); 
   e.preventDefault();
});
gallery_core.launch_gallery_init();

</script>

 
{% endblock %}

