<div class="container-fluid text-center">
    <div class="col w-50" style="margin-left: auto;margin-right: auto;">
        <div class="card  mb-3 ">
    <div class="bg-gradient-primary card-header">{{event.name}}: Registration</div>
   <div class="card-body">
    <h5 class="card-title">Registration Status for: {{profile.name}}</h5>
    <div class="card-text">
        You haven't yet completed your registration to {{event.name}}!
        <br/>
        <br/>
        <a href="/app/registrar"  class="btn btn-primary">Register Now!</a>
    </div>
  </div>
</div>

    </div>
</div>
