<div class="container-fluid text-center">
    <div class="col w-50" style="margin-left: auto;margin-right: auto;">
        <div class="card  mb-3 ">
    <div class="bg-gradient-primary card-header">{{event.name}}: Registration</div>
   <div class="card-body">
    <h5 class="card-title">Registration Status for: {{profile.name}}</h5>
    <div class="card-text">
        Your registration {{event.name}} is complete!
        <br/>
        Registration Date: {{regdata.0.dateCreated}}
        <br/>
        Registration Level: {{regdata.0.conRegLevel}}
        <br/>
    </div>
  </div>
</div>

    </div>
</div>
