{%extends "ply-bootstrap5-noheader.html" %}
{%load django_bootstrap5 %}
{% block bootstrap5_title %}
Querying Event {{event}}
{%endblock%}
{% block bootstrap5_content %}

<div class="container-fluid row g-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-primary"> <i class="fa-solid fa-search"></i>Event: {{event.name}}</h2>
      <p class="text-muted">Event id: {{event.pk}}</p>
    </div>
    <div class="card-body">
       <h4 class="text-success">Event Details:</h4>
      <table class="table table-striped table-hover text-center">
           <thead>
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <th scope="row">UUID:</th>
              <td>{{event.uuid}}</td>
            </tr>
            <tr>
              <th scope="row">Name:</th>
              <td>{{event.name}}</td>
            </tr>
            <tr>
              <th scope="row">Event Code:</th>
              <td>{{event.eventAppCode}}</td>
            </tr>
            <tr>
              <th scope="row">Active:</th>
              <td>{%if event.active %}<i class="fa-solid fa-square-check"></i>{%else%}<i class="fa-solid fa-square-xmark"></i>{%endif%}</td>
            </tr>
            <tr>
              <th scope="row">PSafe Active:</th>
              <td>{%if event.isSecAccessEnabled %}<i class="fa-solid fa-square-check"></i>{%else%}<i class="fa-solid fa-square-xmark"></i>{%endif%}</td>
            </tr>
            <tr>
              <th scope="row">Event Start:</th>
              <td>{{event.startDate}}</td>
            </tr>
            <tr>
              <th scope="row">Event End:</th>
              <td>{{event.endDate}}</td>
            </tr>
            <tr>

            <th scope="row">Registration Opens:</th>
            <td>{{event.regOpen}}</td>
            </tr>
            <tr>
              <th scope="row">Registration Closes:</th>
              <td>{{event.regClose}}</td>
            </tr>
            <tr>
            <th scope="row">Dealers' Den Opens:</th>
            <td>{{event.dealersOpen}}</td>
            </tr>
            <tr>
              <th scope="row">Dealer's Den Closes:</th>
              <td>{{event.dealersClose}}</td>
            </tr>

            <tr>
            <th scope="row">Applications Accepted Opens:</th>
            <td>{{event.aaOpen}}</td>
            </tr>
            <tr>
              <th scope="row">Applications Accepted Closes:</th>
              <td>{{event.aaClose}}</td>
            </tr>

            <tr>
            <th scope="row">Event Registration Opens:</th>
            <td>{{event.eventsOpen}}</td>
            </tr>
            <tr>
              <th scope="row">Event Registration Closes:</th>
              <td>{{event.eventsClose}}</td>
            </tr>



            </tbody>
      </table>
    <hr/>
    <h4 class="text-success">Community(ies) linked to Event:</h4>
          <table class="table table-striped table-hover text-center">
           <thead>
            <tr>
              <th scope="col">Relationship UUID</th>
              <th scope="col">Community</th>
              <th scope="col">Active</th>
            </tr>
            </thead>
            <tbody>
            {% for e in ecm %}
                <tr>
                    <td>{{e.uuid}}</td>
                    <td>{{e.community.name}}</td>
                    <td>{%if e.active %}<i class="fa-solid fa-square-check"></i>{%else%}<i class="fa-solid fa-square-xmark"></i>{%endif%}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="card-footer text-right">

    </div>
  </div>
</div>


<script src="/static/js/util-get_cookie.js"></script>

{% endblock %}