{%extends "ply-bootstrap5-noheader.html" %}
{%load django_bootstrap5 %}
{% block bootstrap5_title %}
All Events in System
{%endblock%}
{% block bootstrap5_content %}

<div class="container-fluid row g-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-primary"> <i class="fa-solid fa-table-list"></i>All Events</h2>
      <p class="text-muted">This interface shows all registered events in the system.</p>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover text-center">
           <thead>
            <tr>
              <th scope="col">UUID</th>
              <th scope="col">Name</th>
              <th scope="col">Event Code</th>
              <th scope="col">Active</th>
              <th scope="col">PSafe Active</th>
              <th scope="col">Starts</th>
              <th scope="col">Ends</th>
              <th scope="col">Reg Starts</th>
              <th scope="col">Reg Ends</th>
              <th scope="col">Dealers Starts</th>
              <th scope="col">Dealers Ends</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
            <tr>
              <th scope="row"><a href="#event_{{event.uuid}}" onclick="events.view('{{event.uuid}}');">{{event.uuid}}</a></th>
              <td>{{event.name}}</td>
              <td>{{event.eventAppCode}}</td>
              <td>{%if event.active %}<i class="fa-solid fa-square-check"></i>{%else%}<i class="fa-solid fa-square-xmark"></i>{%endif%}</td>
              <td>{%if event.isSecAccessEnabled %}<i class="fa-solid fa-square-check"></i>{%else%}<i class="fa-solid fa-square-xmark"></i>{%endif%}</td>
              <td>{{event.startDate}}</td>
              <td>{{event.endDate}}</td>
              <td>{{event.regOpen}}</td>
              <td>{{event.regClose}}</td>
              <td>{{event.dealersOpen}}</td>
              <td>{{event.dealersClose}}</td>
            </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
    <div class="card-footer text-right">

    </div>
  </div>
</div>


<script src="/static/js/util-get_cookie.js"></script>

{% endblock %}