<div class="offcanvas offcanvas-bottom" tabindex="-1" id="review_controls" aria-labelledby="review_controls" aria-controls="review_controls" data-bs-scroll="true" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Review and Publish <span id="review_title"></span></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="review_ctrl_area">
    <span class="text-muted">Loading....</span>
  </div>
</div>
