{% extends 'ply-share-redirect.html' %}
{% block meta-og-title %}{{item.item.title}} by {{item.profile.name}}{% endblock %}
{% block meta-og-type %}article{% endblock %}
{% block meta-og-url %}https://{{vhost}}/g/@{{item.profile_slug}}/{{item.collection_id}}/{{item.item_id}}{% endblock %}
{% block meta-og-image %}{{base_url}}{{item.gif_name}}{% endblock %}
{% block favicon %}{{base_url}}{{item.gif_name}}{% endblock %}
{% block meta-og-site_name %}{{community.name}}{% endblock %}
{% block meta-og-description %}{{item.item.descr}} {% endblock %}
{% block meta-redirect-body-head %}/gallery/@{{item.profile_slug}}#card-{{item.collection_id}}-{{item.item_id}}{% endblock %}
{% block meta-redirect-body-url %}/gallery/@{{item.profile_slug}}#card-{{item.collection_id}}-{{item.item_id}}{% endblock %}
{% block share_title %}{{item.item.title}} by {{item.profile.name}}{% endblock %}
