
<div class=""><div class="">
    <div class="widget_simpleBanner_main" data-widget="simpleBanner">
        <div class="container-fluid">
            <div class="row">
                <div class="col profile_avatar av-100">
                <img src="{{av_path}}/{{profile.avatar}}" class="img-thumbnail" alt="{{profile.name}} Icon">
                </div>
                <div class="col profile_data">
                    <div class="profile_name_div">
                    {%include "dashboard-profileid-interactions-widget.html" %}
                    </div> 
                    <div class="col profile_tagline">
                    <i class="fa-solid fa-feather-pointed"></i>&#160; <em>{{profile.introduction}}</em>
                    <hr/>


                </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
