<nav id="sidebarMenu" class="d-md-block sidebar offcanvas " aria-labelledby="sidebar" data-bs-scroll="true" data-bs-backdrop="false">
    <div class="offcanvas-header">
    <h4 class="offcanvas-title">Main Menu</h4>
    </div>
      <div class="offcanvas-body">
        <ul class="nav flex-column">
         <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" href="/dashboard/user/#">
          <i class="fas fa-home fa-2x"></i> My Dashboard
        </button>
        <br/>
        {% if show_dbswitch %}
         <button class="btn btn-toggle align-items-center rounded" onclick="location.href='/dashboard/';">
         <i class="fas fa-repeat fa-2x"></i> Switch Dashboards
        </button>
        {% endif %}
         <li class="mb-1"><hr/></li>
      </li>

        {# include "dashboard/dashboard-sidebar_profile_switcher.html" #}

      <li class="mb-1"><hr/></li>
      {% for module in sidebar %}
      {% include "dashboard/dashboard-sidebar-module-menu.html" %}
      {% endfor %}

      </ul>
      <div class="offcanvas-footer position-absolute bottom-0 start-0 account-dash-widget">
      <hr/>
        <h6 class="text-muted"><span class="ply-brand_font">Ply</span> powered, (v) {{ply_version}}</h6>
      </div>
    </nav>
