<div class="toast-container position-fixed end-0 p-3">
  <div id="loadingToast" class="toast end-0 bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-dark text-primary border-primary border-2">
      <i class="fa-solid fa-gauge"></i>
      <strong class="me-auto">Dashboard</strong>
    </div>
    <div class="toast-body bg-dark bg-opacity-50 text-white">
     <i class="fa-solid fa-spinner fa-spin text-success"></i> Loading....
    </div>
  </div>
</div>
