{% extends 'dashboard_main_panel-95.html' %}
{%block dashboard_name %}<i class="fas fa-th"></i></i>&#160;All my Collections{%endblock%}
{%block dashboard_content %}
{%include "gallery-modal-viewer.html" %}
<h6 class="text-muted">All submissions you've ever published are shown here: This Light table shows every single piece organised into your collections.</h6>
<p>
This is a 'review and preview' interface; you can use the tools in the menu to create, edit, or upload more content!
</p>
<br/><hr/>
<div class="container-fluid">

{%for col in colls %}

    {%include "gallery-dashboard_collection.html" %}
{% endfor %}
</div>
<!--<div class="modal" tabindex="-1" id="confirmModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you ready to publish your submission? You can always edit it after it's been published.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="gallery_core._save_publish(event);">Publish!</button>
      </div>
    </div>
  </div>
</div>-->

{%include "media.gallery.core/dashboard/uploader/reviewtbl_controls.html" %}
<script src="/static/js/gallery_all.js"></script>
{%endblock %}

