{% if collection_label_links %}
<h3><a href="/media/gallery/core/@{{profile.profile_id}}/{{col.collection_id}}">Collection: {{col.label}}</a></h3>
{% else %}
<h3>Collection: {{col.label}}</h3>
{% endif %}
<p class="text-muted">Created:  {{col.created}} Updated: {{col.updated}} Items: 0 Views: {{col.views}} Shares:  {{col.shares}} Downloads:  {{col.downloads}} Comments:  {{col.comments}}</p>

<section id="col-{{col.uuid}}" class="dashboard-category" data-col="{{col.uuid}}">
{% for i in col.items %}

    {% with  i.plugin|add:"/viewer_gallery_card.html" as render_template %}
    {% include render_template %}
    {% endwith %}  
{% endfor %}
</section>
<hr/>
