{% extends 'dashboard_main_panel-95.html' %}
{%block dashboard_name %}<i class="fa-solid fa-pen-to-square"></i>&#160;Manage Collections{%endblock%}
{%block dashboard_content %}

<link href="/static/css/gallery_user_editor.css" rel="stylesheet"/>
{%include "gallery-dashboard_collection_editor.html" %}
{%include "bootstrap-plugin-selectize.html" %}
<h6 class="text-muted">All submissions you've ever published are shown here: This Light table shows every single piece organised into your collections.</h6>
<p>
This is a 'review and preview' interface; you can use the tools attached to each submission to modify it; and you can also drag-and-drop items across collections, and to reorganise them!
All changes are saved automatically.
</p>
<br/><hr/>
<div class="container-fluid">

{%for col in colls %}

    {%include "gallery-dashboard_collection_editor.html" %}
{% endfor %}
</div>
<div class="modal" tabindex="-1" id="manageModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       ....
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%include "media.gallery.core/dashboard/uploader/reviewtbl_controls.html" %}
<script src="/static/plugins/smart_select/js/smart_select.js"></script>
<script src="/static/js/gallery_core_editor.js"></script>
<script src="/static/js/gallery_dashboard_manage.js"></script>
{%endblock %}

