<form id="gallery_review_form" method="POST" onsubmit="gallery_dashboard.publish_selected_item(event); return false;" target="#">
 <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">{%block "controls_title" %} Controls Title. {% endblock %}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body review_ctrls">
  {% block "controls_body" %} 
 
    <span class="text-muted">Loading....</span>
  
  {% endblock %}
</div>
</form>
