<div class="row">

<div class="col-1 align-middle" style="max-width: 15px;">
    <i class="fa-solid fa-asterisk fa-2x"></i>
</div>
<div class="col-2 align-middle h4" style="max-width: 200px;">
    &#160;{{stream.tag}}
</div>

<div class="col-1 align-middle" style="width: 15px; color: rgba(0,0,0,0.3);">
<i class="fa-solid fa-grip-lines-vertical fa-2x"></i>
</div>

<div class="col align-middle">
<strong>{{stream.name}}</strong>:{{stream.descr}}
</div>

<div class="col align-middle">
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-secondary"><i class="fa-solid fa-bell-slash"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fa-solid fa-thumbtack"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fa-solid fa-users"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
    <button type="button" class="btn btn-secondary"><i class="fa-solid fa-ellipsis"></i></button>
</div>
</div>
</div>
