<div class="card floating-dashboard-card-item align-middle gallery-card" style="min-width: 18rem; max-width: 22rem;" data-item="{{i.id}}" data-plugin="media.gallery.images" id="card-{{col.uuid}}-{{i.id}}" data-collection="{{col.uuid}}" data-title="{{i.title}}" data-collabel="{{col.label}}" data-likes="{{i.likes}}" data-shares="{{i.shares}}" data-downloads="{{i.downloads}}" data-comments="{{i.comments}}" data-author="{{i.profile.name}}" data-avatar="{{av_path}}/{{i.profile.avatar}}" data-created="{{i.created}}" data-counter="{{i.counter}}" data-views="{{i.views}}" data-profile_id="{{i.profile.slug}}">
<input type="text" style="display:none" class="sharelink" value="/g/@{{item.profile_profile_id}}/{{col.uuid}}/{{i.id}}"/>

   {% if i.files.0.thumbnail %}
   {% with i.files.0 as file %}
    <img src="{{base_url}}/published/{{i.profile.uuid|slice:"0:1"}}/{{i.profile.uuid|slice:"1:2"}}/{{i.profile.uuid|slice:"2:3"}}/{{i.profile.uuid}}/{{file.name}}.{{file.type}}" class="card-img-top" alt="{{file.name}}">
    {% endwith %}
   {% elif i.files.1.thumbnail %}
   {% with i.files.1 as file %}
    <img src="{{base_url}}/published/{{i.profile.uuid|slice:"0:1"}}/{{i.profile.uuid|slice:"1:2"}}/{{i.profile.uuid|slice:"2:3"}}/{{i.profile.uuid}}/{{file.name}}.{{file.type}}" class="card-img-top" alt="{{file.name}}">
    {% endwith %}
   {% elif i.files.2.thumbnail %}
   {% with i.files.2 as file %}
    <img src="{{base_url}}/published/{{i.profile.uuid|slice:"0:1"}}/{{i.profile.uuid|slice:"1:2"}}/{{i.profile.uuid|slice:"2:3"}}/{{i.profile.uuid}}/{{file.name}}.{{file.type}}" class="card-img-top" alt="{{file.name}}">
    {% endwith %}
   {% endif %}

  <section id="overlay" class="publish_overlay card-img-overlay text-center align-middle" >
    
  </section>
  <section class="card-body gallery-photos-body">
    <section class="photo-title-block">
        <h5 class="card-title photo-title text-truncate" id="file-name">{{i.title}}</h5>
    </section>
  <section class="photo-data-block">
  <p class="description">
<!--   {{i.descr}} (<i>Photography</i>)</p> -->
  <span class="badge rounded-pill bg-primary"><i class="fa-solid fa-calendar-xmark"></i> {{i.created}}</span>
  <br/>
  <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-eye"></i> {{i.views}}</span>&#160;
  <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-heart"></i> {{i.likes}}</span>&#160;
  <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-share"></i> {{i.shares}}</span>&#160;
  <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-download"></i> {{i.downloads}}</span>&#160;
  
  </section>

</div>
