<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en" class="h-100">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--     JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Page title -->

    <title>Ply Account Registration</title>


    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link href="/static/css/default-community-coverPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet"> 
    <!-- Bootstrap JavaScript: !-->
     {% bootstrap_javascript %}

    {% block bootstrap5_extra_head %}{% endblock %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4f00122db6.js" crossorigin="anonymous"></script>
    
    <!--   Login Functions -->
</head>

<body class="bg-light">
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">

        <h2>Create Ply Account</h2>
        <p class="lead">Thank you for creating an account!</p>


    </div>
    <div class="container-fluid" style="margin-left: auto; margin-right: auto;">
    <div class="card"  style="margin-left: auto; margin-right: auto; padding: 20px;">
    <h5 class="modal-title" id="progressModalLabel"> <i class="fa-solid fa-envelope-circle-check"></i> All Set! Check Your Email!</h5>
    <div class="modal-body">
           <p class="lead">Please check your email - we have just sent you a short message with a link to confirm your address and activate your account.</p>
    </div>
    <div class="modal-footer">
        {% bootstrap_button "Take me Home!" button_type="link" href="/" button_class="btn-success" %}
    <div>
    </div>
    </div>
    
    
<!-- Status Modal     -->
<!-- Modal -->
<div class="modal fade" id="progressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="progressModalLabel"> <i class="fa-solid fa-microchip"></i> Forge: Processing...</h5>
        
      </div>
      <div class="modal-body">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        &#160; Please wait: Processing Changes!
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


</body>
</html>
