    <nav class="nav nav-masthead justify-content-center float-md-end cover-menu">
        <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Start</a>
        <a class="nav-link" href="/almanac"><i class="fa-solid fa-earth-africa"></i> About</a>
         <a class="nav-link" href="#"><i class="fa-solid fa-book-open"></i> Blog</a>
        <a class="nav-link" href="/profiles/index"><i class="fa-solid fa-id-card-clip"></i> Profiles</a>
        <a class="nav-link" href="#"><i class="fa-solid fa-user-group"></i> Clans</a>
        <a class="nav-link" href="#"><i class="fa-solid fa-images"></i> Galleries</a>
        <a class="nav-link" href="#"><i class="fa-solid fa-wifi"></i> Stream</a>
      {%include "login-register-dropdown-widget.html" %}
      </nav>
