<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="/profiles/@{{profile.profile_id}}"><i class="fa-solid fa-id-card">&#160;</i>Profile</a></li>
    <li><a class="dropdown-item" href="/gallery/@{{profile.profile_id}}"><i class="fa-solid fa-images">&#160;</i>Galleries</a></li>
    <li><a class="dropdown-item" href="/stream/@{{profile.profile_id}}"><i class="fa-solid fa-wifi">&#160;</i>Stream</a></li>
    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-comment-dots"></i>&#160;Message</a></li>
    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-magnifying-glass"></i>&#160;Watch</a></li>
    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-plus"></i>&#160;Friend</a></li>
    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-share-nodes"></i>&#160;Share gallery</a></li>
</ul>
