 <li class="mb-1 sidebar-menu-container-li">
        <button class="btn btn-toggle align-items-center rounded collapsed sidebar-main-button" data-bs-toggle="collapse" data-bs-target="#{{module.mname}}-collapse" aria-expanded="false" data-mname="{{module.mname}}" onclick="dc_handleMainLink(event);" {%if module.js != False %} data-js="{{module.js}}" {%endif%} >
          <i class="{{module.icon}} fa-2x"></i> {{module.label}}
        </button>
        <div class="collapse" id="{{module.mname}}-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small sidebar-toggle-ul sidebar-menu">
            {% for sme in module.menu %}
            <li><a href="#" data-trgt="{{sme.url}}" data-wt="{{sme.label}}"  class="link-dark rounded sidebar-submenu-link" onclick="dc_handleLink(event,true);" {%if sme.onclick != False %} data-onclick="{{sme.onclick}}" {%endif%} >
            {% if sme.icon %}
                <i class="fa {{sme.icon}}" aria-hidden="true"></i>
            {% endif %}
            {{sme.label}}
            </a></li>
            {% endfor %}
        </ul>
    </div>
</li>
