{% load humanize %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
        <form class="d-flex" method="POST" action="#" id="plyloginform" onsubmit="loginAgent.start(event);">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/"><i class="fa-solid fa-house"></i> This Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/admin"><i class="fa-solid fa-earth-africa"></i> WorldForge / Community Dashboard</a>
        </li>
        <!--<li class="nav-item">
           <a class="nav-link" href="/blogs"><i class="fa-solid fa-book-open"></i> Blog</a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/admin"><i class="fa-solid fa-gears"></i> Global Admin</a>
        </li>


        </ul>
     </form>
    </div>
  </div>
</nav>

