 <div class="card-footer">
    <button type="button" class="btn btn-light btn-outline-secondary text-muted"><i class="fa-solid fa-retweet"></i>&#160;<span class="badge rounded-pill text-muted">{{m.reposts}}</span></button>
    
    <button type="button" class="btn btn-light btn-outline-secondary text-muted"><i class="fa-solid fa-heart-circle-plus"></i>&#160;<span class="badge rounded-pill text-muted">{{m.likes}}</span></button>
    
    <button type="button" class="btn btn-light btn-outline-secondary text-muted"><i class="fa-solid fa-reply"></i>&#160;<span class="badge rounded-pill text-muted">{{m.replies}}</span></button>
    
    <button type="button" class="btn btn-light btn-outline-secondary text-muted"><i class="fa-solid fa-share-nodes"></i>&#160;<span class="badge rounded-pill text-muted">{{m.shares}}</span></button>
    </div>
