<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
{% load check_if_development %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en" class="h-100" data-bs-theme="dark">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--     JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Page title -->

    <title>{{community.name}}: Login</title>



    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link href="/static/css/default-community-coverPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Bootstrap JavaScript: !-->
     {% bootstrap_javascript %}
    {% with THEME_PATH|add:"body/headers/css.html" as import_template %}
    {% include import_template %}
    {% endwith %}
    {% with THEME_PATH|add:"body/headers/fonts.html" as import_template %}
    {% include import_template %}
    {% endwith %}
    {% block bootstrap5_extra_head %}{% endblock %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4f00122db6.js" crossorigin="anonymous"></script>
    
    <!--   Login Functions -->
</head>

<body class="" data-bs-theme="dark">
{% with THEME_PATH|add:"components/authentication/form_header.html" as import_template %}
{% include import_template %}
{% endwith %}

<div class="container" style="z-index: 3;">
  <main>
    <div class="py-5 text-center" style="z-index: 3; position: relative;" >
        <h2 class="logo-text">{{community.name}}</h2>
        <p class="tagline-text">{{community.tagline}}</p>
        <p class="lead">Already have an account? Login now! - if you don't, please proceed to <a href="/accounts/register/"> registration</a> to create one</p>

    </div>
    <div class="container-fluid" style="margin-left: auto; margin-right: auto;">
    <div class="card"  style="margin-left: auto; margin-right: auto; padding: 20px; z-index: 2;">
    <h5 class="modal-title"> <i class="fa-solid fa-user-plus"></i> Account Details:</h5>
    <div class="modal-body">
    <form id="register_form" method="POST" action="/accounts/api/login/">
    {%csrf_token%}
        {% bootstrap_form form %}

    <div class="modal-footer">
    <div class="text-center container">
        {% bootstrap_button "Forgot Password" button_type="link" href="/accounts/password_reset" button_class="btn-outline-secondary" %}
        &#160;&#160;
        {% bootstrap_button "Clear Form" button_type="reset" button_class="btn-outline-primary" %}
        &#160;&#160;
        {% bootstrap_button "Login" button_type="submit" button_class="btn-outline-success" %}
    </div>

     <div class="text-center container">
         <hr/>
         {% bootstrap_button "External account login (SSO/Email)" button_type="link" onclick="login.showsso();" href="#" button_class="btn-outline-primary" %}
     </div>
    </div>
    </form>
    </div>
    </div>
    </div>
  </main>
    
<!-- Status Modal     -->
<!-- Modal -->
<div class="modal fade" id="progressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="progressModalLabel"> <i class="fa-solid fa-microchip"></i> Forge: Processing...</h5>
        
      </div>
      <div class="modal-body">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        &#160; Please wait: Processing Changes!
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

{%include "authentication/registration/sso/modal.html" %}
</div>
<script src="/static/core.authentication/js/login.js"></script>
{% if request.GET.development == None %}
<script type="text/javascript">
    window.location.href = "https://backend.furrydelphia.org/connect/?from=app-ply";
</script>
{%else%}
{%endif%}
</body>
</html>
